<h2 mat-dialog-title>
  <mat-icon class="dialog-icon">visibility</mat-icon>
  {{ snippet.title }}
</h2>
<mat-dialog-content>
  <div class="snippet-meta">
    <mat-chip>{{ snippet.language }}</mat-chip>
    @if (snippet.user?.name) {
      <span class="author">by {{ snippet.user?.name }}</span>
    }
    @if (snippet.createdAt) {
      <span class="date">{{ snippet.createdAt | date:'medium' }}</span>
    }
  </div>
  <div class="code-block">
    <pre><code>{{ snippet.code }}</code></pre>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onClose()">
    <mat-icon>close</mat-icon>
    Close
  </button>
</mat-dialog-actions>
