/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// @use '@angular/material' as mat;
// @include mat.core();
// $theme: mat.define-theme((
//   color: (
//     primary: mat.define-palette(mat.$indigo-palette),
//     accent: mat.define-palette(mat.$pink-palette),
//   )
// ));
// @include mat.all-component-themes($theme);
